.nav.navbar-nav{
  color: green;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.container-fluid{
  background-color: navy;
  color: white;
}
.navbar-header{
  margin: 20px;
  
}