table, th, td 
{
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: x-large;
         
}
   