body{
    background-image:url("pixcel.jpg");
}



.navbar{
    float: left;
  text-align:right ;
  padding: 14px 16px;
  color: rgb(246, 247, 248);
  font-size: 16px;
  width: 100%;
  overflow: auto;
  margin:0px;


}

.title{
    text-align: center;
    color: white;
   
    

}

.get{
    border-radius: 20px;
}

.subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin:0px;
  }

  .text-block{
      color: white;
      position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  }

 .navbar a i{
     margin: 10px;
 }

 .inbutton{
    float: left;
    position: fixed;
    top: 55px;
    left: 20px;
    padding: 5px 5px;
 }

 .class{
     padding-top: 15%;
 }